In [5]:
import numpy as np
import pandas as pd

np.__version__, pd.__version__

('2.2.1', '2.2.3')

In [7]:
s = pd.Series(
    [1, 2, 3, 4, 5, 6, 7, 8],
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
)

s

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [8]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)

df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [10]:
arr = np.array([1, 2, 3, 4])
arr

array([1, 2, 3, 4])

In [13]:
arr = np.array([[1, 2], [3, 4]])

arr.shape, arr.ndim, arr.dtype

((2, 2), 2, dtype('int64'))

In [15]:
xs = np.array([1, 2, 3])
ys = np.array([4, 5, 6])

- elementwise mathematical operations

In [17]:
xs + ys

array([5, 7, 9])

In [18]:
xs * ys

array([ 4, 10, 18])

In [19]:
xs - ys

array([-3, -3, -3])

In [20]:
xs / ys

array([0.25, 0.4 , 0.5 ])

In [21]:
z = np.zeros((2, 8))

In [22]:
z

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [24]:
z = z + 4
z

array([[8., 8., 8., 8., 8., 8., 8., 8.],
       [8., 8., 8., 8., 8., 8., 8., 8.]])

In [27]:
k = np.zeros_like(z)
l = np.ones_like(z)
k, l

(array([[0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.]]),
 array([[1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.]]))

In [32]:
nums = np.linspace(0, 10, 12)
nums

array([ 0.        ,  0.90909091,  1.81818182,  2.72727273,  3.63636364,
        4.54545455,  5.45454545,  6.36363636,  7.27272727,  8.18181818,
        9.09090909, 10.        ])

In [33]:
ts = np.arange(0, 10, 2)
ts

array([0, 2, 4, 6, 8])

In [34]:
arr = np.array([[1, 2], [3, 4], [5, 6]])
arr.shape, arr.ndim, arr.dtype, arr.size

((3, 2), 2, dtype('int64'), 6)

In [39]:
arr = np.array([10, 20, 30, 40])
arr[1], arr[1:], arr[-1:], arr[:1], arr[:-1]

(np.int64(20),
 array([20, 30, 40]),
 array([40]),
 array([10]),
 array([10, 20, 30]))

In [40]:
arr[[1, 3]]

array([20, 40])

In [41]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[arr > 3])

[4 5]

In [43]:
arr = np.arange(1, 7)
print(arr)
print("#---")
reshaped = arr.reshape(2, 3)
print(reshaped)

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]